@model WebApplication1.View_models.DetalleSolicitudViewModel
@{
    ViewBag.Title = "Técnico";
}
<div class="jumbotron">
    <h1>Detalles de solicitud</h1>
</div>

<section id="loginForm">
    @using (Html.BeginForm("ViewDetails", "Tecnico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            <tr>
                <th>
                    <h3>Nombre de cliente</h3>
                </th>
                <td>
                    @Html.DisplayFor(x=>x.Solicitud.Cliente.Nombre)
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Tipo de servicio</h3>
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    <h3>Dirección</h3>
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    <h3>Estado de solicitud</h3>
                </th>
                <td>

                </td>
            </tr>
            
        </table>
        
        <br />
        <div class="row">
            <div class="text-center">
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Cambiar estado" />
                </div>
            </div>
        </div>
    }
</section>

