@{
    ViewBag.Title = "Administrador";
}

<div class="jumbotron">
    <h1>Página principal - Administrador</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Pago de nomina</h2>
        <p>Para administrar la nomina de empleados.</p>
        <p><a class="btn btn-default" href="@Url.Action("Solicitud", "Account")">Continuar &raquo;</a></p>
    </div>
</div>