@{
    ViewBag.Title = "Estado de cuenta";
}
<style>
    table {
        border-collapse: separate;
        border-spacing: 10px;
    }
    th {
        padding: 15px;
    }
    td {
        padding: 15px;
        background-color: #F5F5F5;
    }
</style>
<div class="jumbotron">
    <p class="lead">Estado de cuenta.</p>
</div>

<div class="row">
    <table align="center" style="width:50%">
        <tr>
            <th colspan="2" style="text-align:center">Saldo de tu último estado de cuenta</th>
        </tr>
        <tr>
            <td>Total a pagar:</td>
            <td style="text-align:right">$0.00 MXN</td>
        </tr>
        <tr>
            <td>Fecha límite de pago:</td>
            <td style="text-align:right">-- -- --</td>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center">Resumen de tu estado de cuenta</th>
        </tr>
        <tr>
            <td>Periodo:</td>
            <td style="text-align:right">del -- -- -- al -- -- --</td>
        </tr>
        <tr>
            <th>Total de estado de cuenta:</th>
            <td style="text-align:right">$0.00 MXN</td>
        </tr>
    </table>
</div>