@model WebApplication1.Models.MaterialViewModels
@{
    ViewBag.Title = "Técnico";
}

<div class="jumbotron">
    <h1>Solicitar material</h1>
</div>

<div class="row">
    <div class="text-center">
        <div class="col-md-6">
            <h2>Tipo de material</h2>
        </div>
        <div class="col-md-6">
            <h2>Cantidad</h2>
        </div>
    </div>
</div><!--
<div class="row">
    <table align="center" style="width:80%">
       
    </table>
</div>-->
<br />
<div class="row">
    <div class="text-center">
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Solicitar" />
        </div>
    </div>
</div>