@{
    ViewBag.Title = "Opciones de pago";
}

<div class="jumbotron">
    <p class="lead">Opciones de pago.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Cargo concurrente</h2>
        <p>Solicita el cargo concurrente a tu tarjeta de crédito y débito.</p>
    </div>
    <div class="col-md-6">
        <h2>Pago en ventanilla bancaria</h2>
        <p>Bancos y centros de pago.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Bancos.png" alt="Internet" width="300">
    </div>
    <div class="col-md-6">
        <img src="~/Content/Lugares.png" alt="Internet" width="500">
    </div>
</div>