@{
    ViewBag.Title = "Técnico";
}

<div class="jumbotron">
    <h1>Página principal - Técnico</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Registro de solicitud</h2>
        <p>Para manejar las solicitudes de los clientes.</p>
        <p><a class="btn btn-default" href="@Url.Action("Solicitudes", "Account")">Continuar &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Solicitar herramienta</h2>
        <p>Aquí se manejan las solicitudes de herramienta para el almacen.</p>
        <p><a class="btn btn-default" href="@Url.Action("Solicitud", "Inventory")">Continuar &raquo;</a></p>
    </div>
</div>