@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calzada Universidad 14418 Parque Industrial Tijuana<br />
    Tijuana, Baja California 22427<br />
    <abbr title="Phone">Teléfono:</abbr>
    152.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Soporte@ejemplo.com</a><br />
</address>