@{
    ViewBag.Title = "Página de inicio";
}

<div class="jumbotron">
    <h1>Bienvenido a Servicios BC</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Eres nuevo?</h2>
        <p>
            Servicios BC ofrece los mejores paquetes de servicio en el estado. ¡Satisfacción garantizada!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">REGISTRO &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <p>
            <img src="~/Content/Int.png" alt="Internet" width="120" hspace="50">
            <img src="~/Content/Telef.png" alt="Internet" width="120" hspace="50">
            <img src="~/Content/Telev.png" alt="Internet" width="120" hspace="50">
        </p>
    </div>
</div>