@model IEnumerable<WebApplication1.Models.RegistroTrabajo>
@{
    ViewBag.Title = "Nomina";
}

<h2>Manejar nomina</h2>

<table class="table">
    <tr>
        <th>
            <h2>No. Empleado</h2>
        </th>
        <th>
            <h2>Fecha</h2>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TecnicoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.ActionLink("Detalles", "VerDetalles", new { idSolicitud = item.RegistroTrabajoId })
            </td>
        </tr>
    }

</table>
